.input-container{
	position: relative;
	display: inline-block;
	width: max-content;
	margin: 1em;
}
.styled-label {
	position: absolute;
	left: 0.3em;
	top: 0.7em;
	color: #5d5b5b;
	transition: transform 0.2s ease-in-out;
	pointer-events: none;
}
.styled-input {
	padding: 1.2em 0.5em 0.5em 0.5em;
	font-size: 1em;
	background-color: #ececec;
	border-width: 0px 0px 3px 0px;
	border-color: #5d5b5b;
	border-radius: 0.5em 0.5em 0em 0em;
}

label.focused{
	transform: scale(0.8) translateY(-0.9em);
	color: #8e1bd1;
}
.focused {
	outline: none;
	border-color: #8e1bd1;
	background-color: #cfcccc;
}
.small {
	transform: scale(0.8) translateY(-0.9em);
}